.show {
  border-radius: 5px;
  width: 40%;
  background: #a7a;
  color: white;
  font-size: 24px;
  border: none;
  outline: none;
}

.list {
  max-height: '70vh';
  overflow-y: 'auto';
}

.preview {
  max-width: 95%;
}
